@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.header {
    height: 90px;
    @include flex(row, flex-end, center);
    background-color: $mainBlockColor;
    min-width: 360px;
}