@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 50px;
    @include flex(row, center, center);
    min-width: 360px;
    background: #1B242F;
    border-bottom: 3px solid #04c2c9;
}