@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
  min-width: 25%;
  max-width: 150px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;


  .icon img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: #05C2C9;
    margin-bottom: 20px;
  }

  .title {
    @include text($textFont2,1.4rem,600,#616161);
    margin: 1.5rem 0;
    line-height: 1.2;
    word-wrap: break-word;
  }

  .description {
    @include text($textFont2, 0.9rem, 400, #616161);
  }
}



