@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
  min-height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  min-width: 360px;

  .skillsContainer {
    line-height: 1.2rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: initial;
    margin-bottom: 30px;
    margin-top: 30px;

    .title {
      width: 100%;
      display: flex;
      @include text($textFont2, 2.5rem, 600, #45474A);
      justify-content: center;
      justify-items: center;
    }

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      flex-wrap: wrap;
    }
  }

  .about {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .profile {
      margin: 15px 0 15px 0;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 360px;

      .photo {
        width: 288px;
        height: 250px;
      }

      .title {
        @include text($textFont2, 1.5rem, 600, #45474A);
        margin: 15px 0 20px 0;
      }

      .description {
        @include text($textFont2, 0.9rem, 400, #616161);
      }
    }

    .info {
      width: 60%;
      min-width: 360px;
      margin: 15px 0 15px 0;

      .bar {
        align-items: flex-end;
        background-color: #eee;
        color: #666;
        font-size: 7pt;
        height: 25px;
        margin: 0 0 12px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .span {
          @include text($textFont2, 0.8rem, 600, #666);
          padding: 0 15px 0 0;
          position: absolute;
          right: 0;
        }
        .fill {
          width: 80%;
          left: 0;
          position: absolute;
          top: 0;
          background-color: #00a1a7;
          opacity: 1;
          padding: 0;
          align-items: flex-end;
          color: #666;
          height: 100%;
          margin: 0 0 12px 0;
          .tag {
            left: 0;
            position: absolute;
            top: 0;
            background-color: #04c2c9;
            color: #fff;
            height: 100%;
            width: 110px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include text($textFont2, 0.8rem, 600, #fff);
          }
        }
      }
    }
  }

}


@media (max-width: 1130px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .info {
      width: 100%;
    }
  }
}





