@font-face {
  font-family: "Gilroy";
  src: url("../../src/common/fonts/Gilroy-ExtraBold.otf")
}
@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.main {
  text-align: center;
  min-height: 100vh;
  background-color: $mainBlockColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  .highlight {
    @include text($textFont2, 30pt, 600, #E31B6D);
  }
  .text p {
    @include text($textFont2, 30pt, 400, #fff);
  }
  .button {
    @include text($textFont2, 1.2rem, 400, #fff);
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    transition: all 0.2s;
    &:hover {
      border: 2px solid #04C2C9;
      background-color: #04C2C9;
    }
    &:hover .arrow {
      transform: rotate(90deg);
    }
    .arrow {
      margin-left: 10px;
      display: inline-block;
      width: 15px;
      height: 15px;
      transition: all 0.3s;
      position: relative;

    }
  }
}







