@import "../../common/styles/sass/variables";

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: $textFont;
  cursor: pointer;
  width: 163px;
  height: 44px;
  color: #f5f5f5;
  text-decoration: none;
  background-color: $secondaryGradientColor;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

