@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";
.link {bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #e31b6d;
  background-color: white;
  font-size: 13pt;
  margin: 0 auto;
  padding: 7px 0;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include text($textFont2, 1.2rem, 400, #1b242f);
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
  &:hover {
    background-color: #e31b6d;
    @include text($textFont2, 1.2rem, 400, #FFF);
  }
}

