@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.project {
  min-width: 360px;
  @include flex(column, center, center);
  height: 100%;
  border-radius: 20px;
  position: relative;
  transition: all ease-in-out 0.7s;
  &:hover .projectPhoto {
    .hover_container {
      display: block;
    }
    img {
      opacity: 0;
    }
  }

}


.projectPhoto {
  position: relative;
  @include flex(row, center, center);
  height: 300px;
  width: 390px;

  .hover_container {
    transition: all 0.5s;
    display: none;

    .projectDescription {
      position: absolute;
      top: 10%;
      left: 0;
      width: 100%;
      @include flex(column, space-around, center);
      text-align: center;

      .projectTitle {
        @include text($textFont2, 1.5rem, 600, #1b242f);
        margin: 0;
        text-align: center;

      }

      .description {
        @include text($textFont2, 0.9rem, 400, #e31b6d);
        margin: 0;
        text-align: center;
      }
    }

    .link_container {
      position: absolute;
      bottom: 20%;
      left: 27%;

    }
  }


  img {
    transition: all 0.5s;
    width: 390px;
    max-height: 300px;
    min-height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .projectPhoto {
    width: 100%;
    margin-top: 5px;
    min-width: 100%;
    display: flex;
    @include flex(column, default, center);
    img {
      width: 360px;
      height: 200px;
    }
  }
}
















