@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.project {
  margin: 10px;
  min-width: 300px;
  @include flex(column, start, center);
  height: 100%;
  border-radius: 20px;
  position: relative;

  .projectPhoto {
    width: 100%;
    @include flex(row, center, center);
    height: 300px;
    background-size: cover;
    transition: all 0.3s ease-in-out;;

  }

  @media screen and (max-width: 1200px) {
    .projectPhoto {
      margin-top: 5px;
      min-width: 100%;
      width: 40%;
      display: flex;
      @include flex(column, default, center);
      height: 200px;
      background-color: #eeeeee;
    }
  }

  .projectDescription {
    background-color: #eeeeee;
    color: #6f6f6f;;
    width: 100%;
    @include flex(column, space-around, center);
    text-align: center;

    .projectTitle {
      @include text($textFont2, 1.2rem, 600, #1b242f);
      margin: 5px;
      position: relative;

    }

    .description {
      @include text($textFont2, 0.9rem, 400, #616161);
      margin: 5px;
    }
  }
}













