@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
.nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
}

.nav a {
    @include text($textFont, 1rem, 100, $textColor);
    text-decoration: none;
}