$primaryGradientColor: #26ffe6;
$secondaryGradientColor: #0075f2;


$textColor: #8e8e8e;
$textFont: 'Poppins', sans-serif;
$textFont2:  'Raleway', sans-serif;
$backgroundImgGradient: linear-gradient(45deg, $primaryGradientColor 15%, $secondaryGradientColor 65%);
$mainTitleFont: "Gilroy", sans-serif;
$titleColor: #2f323a;


$mainBlockColor: #252934;
$projectsBlockColor: #e5e5e5;
$footerBlockColor: #111111;
$contactsBlockColor: #eeeeee;


