$primaryGradientColor: #26ffe6;
$secondaryGradientColor: #0075f2;

@font-face {
  font-family: My-Font;
  src: url('./../fonts/Raleway-Medium.woff');
}

$textColor: #8e8e8e;
$textFont2:  My-Font, sans-serif;
$backgroundImgGradient: linear-gradient(45deg, $primaryGradientColor 15%, $secondaryGradientColor 65%);
$titleColor: #2f323a;


$mainBlockColor: #252934;
$projectsBlockColor: #e5e5e5;
$footerBlockColor: #111111;
$contactsBlockColor: #eeeeee;


