@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  min-height: fit-content;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 100%;
  min-width: 360px;

  .projectContainer {
    padding-top: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;

    .filter {
      position: relative;
      display: flex;
      flex-wrap: nowrap;

      .marker {
        left: 0;
        bottom: 0;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        height: 30px;
        background-color: #E31B6D;
        margin-bottom: 15px;
        transition: all 1s;
      }

      .flex {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        transition: all 1s;
        max-height: 30px;
        margin-bottom: 40px;
        min-width: 360px;

        .item {
          background-color: transparent;
          cursor: pointer;
          line-height: 4;
          @include text($textFont2, 1.2rem, 400, #616161);
          transition: all 0.5s;
          margin: 0 25px;
          padding: 0 40px;
        }

        .itemActive {
          background-color: #E31B6D;
          @include text($textFont2, 1.2rem, 600, #FFF);
          margin: 0 15px;
          padding: 5px 30px;

        }
      }
    }

    .title {
      @include text($textFont2, 2.5rem, 600, #45474A);
      width: 100%;
      @include flex(row, center, default);
      justify-items: center;
    }

    .projectBlock {
      min-width: 360px;
      max-height: 50%;
      width: 80%;
      @include flex(row, center, center);
      flex-wrap: wrap;
      transition: all 1s;
    }
  }
}






