@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  padding-top: 50px;
  min-height: fit-content;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 100%;
  min-width: 360px;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;

    .filter {
      position: relative;
      white-space: nowrap;

      .flex {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .item {
          background-color: transparent;
          cursor: pointer;
          line-height: 2;
          @include text($textFont2, 1.2rem, 600, #616161);
          margin: 0 15px;
          padding: 10px 30px;
          transition: all 0.5s;
          &:active {
            background-color: #E31B6D;
            @include text($textFont2, 1.2rem, 600, #FFF);
            margin: 0 15px;
            padding: 5px 30px;
          }
        }
        .itemActive {
          background-color: #E31B6D;
          @include text($textFont2, 1.2rem, 600, #FFF);
          margin: 0 15px;
          padding: 5px 30px;
        }
      }
    }

    .title {
      @include text($textFont2, 2.5rem, 600, #45474A);
      width: 100%;
      @include flex(row, center, default);
      justify-items: center;
    }

    .projectBlock {
      max-height: 50%;
      width: 100%;
      @include flex(row, space-around, center);
      flex-wrap: wrap;
    }
  }
}







